# project
/.env
options.yml
prof/
**/cache.json
**/__debug_bin
**/*.csv

# binaries
/bin
/go-gopher
/cmd/marker/marker
/cmd/github-action/github-action
/cmd/cli/cli

# artifacts
**/repositories.json
output/
**/*.zip 
**/*.html
/log-*.json
*.upx

# goreleaser
dist
.release-env

# jupiter notebooks
/**/*/.ipynb_checkpoints
